header{
  display: flex;
  height: 48px;
  border-bottom: 1px solid #e0e0e0;
  justify-content: space-between;
  align-items: center;
  .button{
    background-color: transparent;
    color: black;
  }
  .text__title{
    margin: 0;
    font-size: 18px;
  }
}